<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1003_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,90},{16,32}}</string>
                <key>offset</key>
                <string>{1,-74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,148},{16,32}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>1003_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{24,92}}</string>
                <key>offset</key>
                <string>{1,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,87},{24,92}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>1003_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,0},{36,90}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,25},{36,90}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>1003_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,92},{72,68}}</string>
                <key>offset</key>
                <string>{4,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{72,68}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>1003_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,24},{86,68}}</string>
                <key>offset</key>
                <string>{8,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,8},{86,68}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1003.png</string>
            <key>size</key>
            <string>{128,160}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ee95d2cfc0df236c2129d61ba2a7b21$</string>
            <key>textureFileName</key>
            <string>1003.png</string>
        </dict>
    </dict>
</plist>
