<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2002_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,88},{45,87}}</string>
                <key>offset</key>
                <string>{2,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,11},{45,87}}</string>
                <key>sourceSize</key>
                <string>{111,173}</string>
            </dict>
            <key>2002_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{53,87}}</string>
                <key>offset</key>
                <string>{7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,35},{53,87}}</string>
                <key>sourceSize</key>
                <string>{111,173}</string>
            </dict>
            <key>2002_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,1},{59,81}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,58},{59,81}}</string>
                <key>sourceSize</key>
                <string>{111,173}</string>
            </dict>
            <key>2002_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,175},{59,75}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,75},{59,75}}</string>
                <key>sourceSize</key>
                <string>{111,173}</string>
            </dict>
            <key>2002_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,172},{61,53}}</string>
                <key>offset</key>
                <string>{3,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,95},{61,53}}</string>
                <key>sourceSize</key>
                <string>{111,173}</string>
            </dict>
            <key>2002_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,88},{81,53}}</string>
                <key>offset</key>
                <string>{2,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,94},{81,53}}</string>
                <key>sourceSize</key>
                <string>{111,173}</string>
            </dict>
            <key>2002_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,141},{81,31}}</string>
                <key>offset</key>
                <string>{10,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,112},{81,31}}</string>
                <key>sourceSize</key>
                <string>{111,173}</string>
            </dict>
            <key>2002_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,225},{55,25}}</string>
                <key>offset</key>
                <string>{-13,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,114},{55,25}}</string>
                <key>sourceSize</key>
                <string>{111,173}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2002.png</string>
            <key>size</key>
            <string>{128,251}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79a66a23806d96470d2a398a337c758d$</string>
            <key>textureFileName</key>
            <string>2002.png</string>
        </dict>
    </dict>
</plist>
