<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2003_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,215},{162,207}}</string>
                <key>offset</key>
                <string>{-130,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,310},{162,207}}</string>
                <key>sourceSize</key>
                <string>{486,805}</string>
            </dict>
            <key>2003_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{156,199}}</string>
                <key>offset</key>
                <string>{-131,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,315},{156,199}}</string>
                <key>sourceSize</key>
                <string>{486,805}</string>
            </dict>
            <key>2003_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,213}}</string>
                <key>offset</key>
                <string>{-130,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,315},{158,213}}</string>
                <key>sourceSize</key>
                <string>{486,805}</string>
            </dict>
            <key>2003_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,215},{154,209}}</string>
                <key>offset</key>
                <string>{-129,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,317},{154,209}}</string>
                <key>sourceSize</key>
                <string>{486,805}</string>
            </dict>
            <key>2003_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{152,205}}</string>
                <key>offset</key>
                <string>{-131,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,316},{152,205}}</string>
                <key>sourceSize</key>
                <string>{486,805}</string>
            </dict>
            <key>2003_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,201},{146,199}}</string>
                <key>offset</key>
                <string>{-131,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,320},{146,199}}</string>
                <key>sourceSize</key>
                <string>{486,805}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2003.png</string>
            <key>size</key>
            <string>{470,426}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:433f39125c4131e9603a36e449cb2a93$</string>
            <key>textureFileName</key>
            <string>2003.png</string>
        </dict>
    </dict>
</plist>
