<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2004_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{429,430}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,68},{429,430}}</string>
                <key>sourceSize</key>
                <string>{635,586}</string>
            </dict>
            <key>2004_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,1042},{267,266}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,155},{267,266}}</string>
                <key>sourceSize</key>
                <string>{635,586}</string>
            </dict>
            <key>2004_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,386},{365,374}}</string>
                <key>offset</key>
                <string>{-18,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,109},{365,374}}</string>
                <key>sourceSize</key>
                <string>{635,586}</string>
            </dict>
            <key>2004_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,429},{359,374}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,107},{359,374}}</string>
                <key>sourceSize</key>
                <string>{635,586}</string>
            </dict>
            <key>2004_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,788},{357,358}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,107},{357,358}}</string>
                <key>sourceSize</key>
                <string>{635,586}</string>
            </dict>
            <key>2004_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,751},{357,358}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,107},{357,358}}</string>
                <key>sourceSize</key>
                <string>{635,586}</string>
            </dict>
            <key>2004_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,751},{291,292}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,140},{291,292}}</string>
                <key>sourceSize</key>
                <string>{635,586}</string>
            </dict>
            <key>2004_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,1308},{251,242}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,172},{251,242}}</string>
                <key>sourceSize</key>
                <string>{635,586}</string>
            </dict>
            <key>2004_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,1108},{319,324}}</string>
                <key>offset</key>
                <string>{-39,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,129},{319,324}}</string>
                <key>sourceSize</key>
                <string>{635,586}</string>
            </dict>
            <key>2004_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,0},{387,386}}</string>
                <key>offset</key>
                <string>{-36,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,95},{387,386}}</string>
                <key>sourceSize</key>
                <string>{635,586}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2004.png</string>
            <key>size</key>
            <string>{1024,1550}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3da0d34009fc7787085bcbc45ad85049$</string>
            <key>textureFileName</key>
            <string>2004.png</string>
        </dict>
    </dict>
</plist>
