<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2006_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,175},{481,249}}</string>
                <key>offset</key>
                <string>{14,122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{481,249}}</string>
                <key>sourceSize</key>
                <string>{511,493}</string>
            </dict>
            <key>2006_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,305},{467,371}}</string>
                <key>offset</key>
                <string>{14,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,13},{467,371}}</string>
                <key>sourceSize</key>
                <string>{511,493}</string>
            </dict>
            <key>2006_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,676},{435,431}}</string>
                <key>offset</key>
                <string>{-2,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,62},{435,431}}</string>
                <key>sourceSize</key>
                <string>{511,493}</string>
            </dict>
            <key>2006_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,424},{441,423}}</string>
                <key>offset</key>
                <string>{4,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,70},{441,423}}</string>
                <key>sourceSize</key>
                <string>{511,493}</string>
            </dict>
            <key>2006_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,847},{431,295}}</string>
                <key>offset</key>
                <string>{6,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,192},{431,295}}</string>
                <key>sourceSize</key>
                <string>{511,493}</string>
            </dict>
            <key>2006_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,0},{493,305}}</string>
                <key>offset</key>
                <string>{-3,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,182},{493,305}}</string>
                <key>sourceSize</key>
                <string>{511,493}</string>
            </dict>
            <key>2006_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{505,175}}</string>
                <key>offset</key>
                <string>{-3,-144}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,303},{505,175}}</string>
                <key>sourceSize</key>
                <string>{511,493}</string>
            </dict>
            <key>2006_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,676},{287,137}}</string>
                <key>offset</key>
                <string>{19,-162}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,340},{287,137}}</string>
                <key>sourceSize</key>
                <string>{511,493}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2006.png</string>
            <key>size</key>
            <string>{1013,1142}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5494f23ed48a0fadb98675a62d19a65$</string>
            <key>textureFileName</key>
            <string>2006.png</string>
        </dict>
    </dict>
</plist>
