<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2008_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,250},{112,104}}</string>
                <key>offset</key>
                <string>{1,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,50},{112,104}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>2008_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,112},{112,138}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,20},{112,138}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>2008_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,320},{112,158}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,2},{112,158}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>2008_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,0},{112,156}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,4},{112,156}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>2008_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,160},{112,160}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{112,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>2008_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{112,160}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{112,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>2008_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,0},{112,156}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{112,156}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2008.png</string>
            <key>size</key>
            <string>{424,478}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04ed0a9785cdce8d035d0cb48f61029d$</string>
            <key>textureFileName</key>
            <string>2008.png</string>
        </dict>
    </dict>
</plist>
