<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slash1.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,316},{112,52}}</string>
                <key>offset</key>
                <string>{26,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,59},{112,52}}</string>
                <key>sourceSize</key>
                <string>{166,202}</string>
            </dict>
            <key>slash2.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,402},{142,74}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,65},{142,74}}</string>
                <key>sourceSize</key>
                <string>{166,202}</string>
            </dict>
            <key>slash3.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,187},{128,118}}</string>
                <key>offset</key>
                <string>{-12,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,57},{128,118}}</string>
                <key>sourceSize</key>
                <string>{166,202}</string>
            </dict>
            <key>slash4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,402},{96,150}}</string>
                <key>offset</key>
                <string>{-33,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,36},{96,150}}</string>
                <key>sourceSize</key>
                <string>{166,202}</string>
            </dict>
            <key>slash5.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,0},{132,186}}</string>
                <key>offset</key>
                <string>{-17,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{132,186}}</string>
                <key>sourceSize</key>
                <string>{166,202}</string>
            </dict>
            <key>slash6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,203},{164,198}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{164,198}}</string>
                <key>sourceSize</key>
                <string>{166,202}</string>
            </dict>
            <key>slash7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{144,202}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{144,202}}</string>
                <key>sourceSize</key>
                <string>{166,202}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>slash.png</string>
            <key>size</key>
            <string>{293,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e38178aad9f2f84eac4c8487fb0a094c$</string>
            <key>textureFileName</key>
            <string>slash.png</string>
        </dict>
    </dict>
</plist>
