<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fight_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,169},{644,60}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,359},{644,60}}</string>
                <key>sourceSize</key>
                <string>{644,804}</string>
            </dict>
            <key>fight_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,1},{366,328}}</string>
                <key>offset</key>
                <string>{-10,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,209},{366,328}}</string>
                <key>sourceSize</key>
                <string>{644,804}</string>
            </dict>
            <key>fight_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,379},{366,304}}</string>
                <key>offset</key>
                <string>{-10,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,233},{366,304}}</string>
                <key>sourceSize</key>
                <string>{644,804}</string>
            </dict>
            <key>fight_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,329},{406,388}}</string>
                <key>offset</key>
                <string>{-12,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,186},{406,388}}</string>
                <key>sourceSize</key>
                <string>{644,804}</string>
            </dict>
            <key>fight_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,99},{644,70}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,354},{644,70}}</string>
                <key>sourceSize</key>
                <string>{644,804}</string>
            </dict>
            <key>fight_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{644,98}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,330},{644,98}}</string>
                <key>sourceSize</key>
                <string>{644,804}</string>
            </dict>
            <key>fight_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,229},{474,150}}</string>
                <key>offset</key>
                <string>{-3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,306},{474,150}}</string>
                <key>sourceSize</key>
                <string>{644,804}</string>
            </dict>
            <key>fight_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,683},{352,178}}</string>
                <key>offset</key>
                <string>{-6,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,291},{352,178}}</string>
                <key>sourceSize</key>
                <string>{644,804}</string>
            </dict>
            <key>fight_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,935},{294,218}}</string>
                <key>offset</key>
                <string>{-14,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,255},{294,218}}</string>
                <key>sourceSize</key>
                <string>{644,804}</string>
            </dict>
            <key>fight_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,717},{294,218}}</string>
                <key>offset</key>
                <string>{-14,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,255},{294,218}}</string>
                <key>sourceSize</key>
                <string>{644,804}</string>
            </dict>
            <key>fight_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,861},{294,218}}</string>
                <key>offset</key>
                <string>{-14,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,256},{294,218}}</string>
                <key>sourceSize</key>
                <string>{644,804}</string>
            </dict>
            <key>fight_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,717},{294,256}}</string>
                <key>offset</key>
                <string>{-14,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,255},{294,256}}</string>
                <key>sourceSize</key>
                <string>{644,804}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fight.png</string>
            <key>size</key>
            <string>{1012,1154}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6be02ca104abc439d2c7e6ca174798c$</string>
            <key>textureFileName</key>
            <string>fight.png</string>
        </dict>
    </dict>
</plist>
